/* Regras Gerais */
body {
    min-height: 100vh;
    padding-top: 75px;
    font-family: 'roboto', 'sans-serif';
    background-color: #FFFDD0;
    margin: 8%;
    justify-content: center;
    justify-items: center;
    text-align: center;

}

.row {
    margin: 0;

}

.container {
    padding: 70px 0;
}

p,
li {
    color: black;
}

.text-justify {
    text-align: justify;
}

/* Navegacao */

header,
.navbar {
    background-image: url(../img/banner-topo.jpg);
    background-size: cover;
    /* background-color: #131862; */
    border-bottom: solid 2px black;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: white;
    font-weight: bold;
}

.navbar-brand:hover {
    color: white;
}

#navbar-links a {
    color: black;
    font-weight: bolder;
    text-decoration: underline #1d1d1c;
    text-decoration-thickness: 2px;

}

.navbar-expand-lg .navbar-nav .nav-ling {
    padding: 1rem .8rem;
}

.navbar-toggler-icon {
    margin-right: 20px;
    text-align: center;
    color: white;
    text-decoration: underline #1d1d1c;
    text-decoration-thickness: 2px;
}


/* noticia principal */

.imagem-noticia {
    padding: 10px
}

.titulo-noticia {
    text-align: center;
}

.coluna-noticia {
    justify-content: center;
}

/* galeria */
img {
    max-width: 100%;
}

.galeria {
    padding: 20px 20px;
}

.titulo-galeria {
    text-align: center;
}

.galeria-item {
    padding-top: 20px;
    background-color: white;
    box-shadow: 0 0 5px;
    cursor: pointer;
}


/* formulario */

#formulario{
    background-color: white;
    margin-bottom: 20px;
}
.formulario {
    justify-content: center;
    justify-items: center;
}

.form {
    width: 84%;
    margin: 8%;
    background-color: white;
}

/* rodape */

.rodape {
    background: #1d1d1c;
    color: white;
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.rodape_lista {
    list-style: none;

}

.rodape_lista a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.copyright {
    font-weight: lighter;
    font-size: smaller;
    margin-bottom: 5px;
}