/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */






body {
  display: flex;
  flex-flow: column nowrap;
  min-width: 375px;
  max-width: 1980px;
  min-height: 100vh;
  background: #FFFDD0;
  /* font-family: "Montserrat", serif; */
}

.topo {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  background-image: url(../img/banner-topo.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 70px;
  min-width: 100vh;

}
.titulo_site {
  color: white;
  align-self: center;
  text-shadow:2px 4px black;
}

.logo {
  height: 70px;
  width: 70px;
}

.menu {

  height: 30px;

  list-style: none;

  background-color: #1d1d1c;


  display: flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  padding: 0px;
  min-width: 400px;
  max-width: 1980px;
}

.menu a {
  color: white;
  text-decoration: none;

}

.menu a:hover {
  color: gray
}

main {
  flex-grow: 1;
}


.coluna_noticia {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 10%;
}

.titulo_noticia {
  font-weight: bold;
  font-style: italic;
}

.conteudo_noticia {
  margin: 10px;
}


.patrocinio {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;

}


.galeria {
  display: grid;
  grid-template-columns: (auto);
  grid-template-rows: (auto);
  grid-gap: 10px;
  width: 30vh;
  object-fit: cover;
  justify-self: center;
  justify-items: center;
  padding: 10%;
}

.galeria p {
  padding: 10%;
}

.galeria_item--1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.galeria_item--2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.galeria_item--3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.galeria_item--4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.galeria_item--5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.galeria_item--6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.galeria a {
  color: black;
}

.formulario{
  padding: 15px;
}
input{ margin-bottom: 5px;}

.rodape {
  min-height: 200px;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  list-style: none;
  background: #1d1d1c;
  color: white;
  margin: 0px;
}

.rodape_titulo {
  margin: 20px;
  font-weight: bold;
}

.rodape_lista {
  list-style: none;
}

.rodape_lista a {
  text-decoration: none;
  color: white;
}

.rodape_lista a:hover {
  color: gray;
}


@media only screen and (max-width: 800px) {
  .galeria {
    display: grid;
    grid-template-columns: (auto);
    grid-template-rows: (auto);
    grid-gap: 10px;
    width: 30vh;
    object-fit: cover;
    justify-self: center;
    justify-items: center;
    padding: 10%;
  }

  .galeria p {
    padding: 10%;
  }

  .galeria_item--1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .galeria_item--2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .galeria_item--3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .galeria_item--4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .galeria_item--5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .galeria_item--6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
